<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.brevaide"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.brevaide.Brevaide"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.brevaide.Test"
            android:label="@string/title_activity_test"
            android:parentActivityName="com.example.brevaide.Brevaide" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.brevaide.Brevaide" />
        </activity>
        <activity
            android:name="com.example.brevaide.Act_QCM"
            android:label="@string/title_activity_qcm"
            android:parentActivityName="com.example.brevaide.Brevaide" 
            android:taskAffinity="com.example.brevaide.QCM">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.brevaide.Brevaide" />
        </activity>
        <activity
            android:name="com.example.brevaide.Stats"
            android:label="@string/title_activity_stats"
            android:parentActivityName="com.example.brevaide.Brevaide" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.brevaide.Brevaide" />
        </activity>
        <activity
            android:name="com.example.brevaide.SelectDiscipline"
            android:label="@string/title_activity_select_discipline"
            android:parentActivityName="com.example.brevaide.Brevaide" 
            android:taskAffinity="com.example.brevaide.QCM">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.brevaide.Brevaide" />
        </activity>
        <activity
            android:name="com.example.brevaide.SeeQcmErrors"
            android:label="@string/title_activity_see_qcm_errors"
            android:parentActivityName="com.example.brevaide.Act_QCM" 
            android:taskAffinity="com.example.brevaide.QCM">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.brevaide.Act_QCM" />
        </activity>
    </application>

</manifest>
